body {
    width: 1200px;
    margin: auto;
    background-color: #F7F0EB;
    font-size: 20px;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

.autorization {
    display: flex;
    padding: 0px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.autorization p {
    padding: 2px;
    margin: 0;
}

header {
    height: 220px;
}

.header-pic img {
    height: auto;
    width: 100%;
    background-color: #E8E8E8;
}

.navigation-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    background-color: #BABABA;
}   

.navigation-div button {
    font-size: 18px;
    cursor: pointer;
}

main {
    height: 1970px;
    width: 100%;
    /* background-color: #FCAAAA; */
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 0 auto;
}

.main-block {
    height: 100%;
    background-color: #FCAAAA;
    /* padding-top: 20px; */
}

.right-menu {
    /* display: flex;
    justify-content: right; */
    height: 100%;
    background-color: #E8E8E8;
}

.card {
    height: auto;
    width: 85%;
    margin: auto;
    margin-top: 20px;
    background-color: #FFF2F2;
    padding: 5px 5px 10px 5px;
    font-size: 20px;
}

.title-card {
    background: #F0DCDC;
}

.test {
    background: black;
}

.card button{
    cursor: pointer;
}

.card-img {
    text-align: center;
}

.card-img img {
    height: auto;
    width: 500px;
}


/*---ПРАВОЕ МЕНЮ---*/


.sort-tab {
    border-top: 2px solid blue;
    /* text-align: center; */
    height: auto;
    width: 95%;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 20px;
}

.sort-tab ul span {
    cursor: pointer;
}
.sort-tab ul span:hover {
    font-style: oblique;
}

.small-card {
    width: 95%;
    height: auto;
    /* background-color: #fff; */
    border-top: 2px solid blue;
    margin: 0 auto;
    margin-top: 20px;
    /* padding: 5px 5px 10px 5px; */
    font-size: 20px;
}

.small-card button {
    cursor: pointer;
}